:root {
    --main-bg-color:#002f49;
    --primary-font-color:#fff;
    --secondary-font-color:#000;
   
}

.head {
    background: var(--main-bg-color);
    color:var(--primary-font-color)
}

.destaque{
    background-color: var(--main-bg-color);
    color: var(--primary-font-color);
}

.destaque img{
    max-width:100%;
}

.noticia{
    justify-content:center ;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: var(--main-bg-color);
}
.noticia .card{
    width: 18rem;
    justify-content:center ;
    text-align: left;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--secondary-font-color);

}
.solucao{
    background-image: url(imagens/fundoSolucao.png);
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: left;
    background-size: cover;
    margin: 30px 0 20px 0;
    padding: 35px;
    
    
}

    .solucao .card{
        justify-content:center ;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: var(--main-bg-color);
        color: var(--primary-font-color);


}
.footer{
    background-color: var(--main-bg-color);
    color: var(--primary-font-color);
    justify-content: space-between;
    align-items: center;
    padding: 35px;
    
}
/* CSS PARA DISPOSITIVOS GRANDES */
@media screen and (min-width: 1080px) {
    .dropdown:hover .dropdown-menu {
        display: block;
    }
}